doctype html
html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title= title+" | PraxManager"
	link(href="/build/vendor.css" rel="stylesheet")
	link(href="/css/style.css" rel="stylesheet")
	script!= 'var PraxManager_lang = "' + lang.id + '";'
	block head
body(data-ng-app='PraxManager')
	#wrapper(style="padding-left: 0px;")
		// Navigation
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			include ./includes/head.jade
			// /.navbar-collapse
		#page-wrapper
			.container-fluid(ng-controller=''+mod)
				// Page Heading
				block content
				// /.row
			// /.container-fluid
		// /#page-wrapper
		div(style='color: #ccc; text-align:center; ') PraxManager &copy; 2014
		div(style='color: #ccc; text-align:center; ')
			img(src='/images/erasmus_plus.jpg', height='100')
	// /#wrapper
	// jQuery
	script(src="/build/vendor.js")
	script(src="/js/lib/angular-i18n/" + lang.js)
	script(src="/js/app.js")
	script(src="/js/lang/" + lang.id + '.js')
	block footer
